.pad-1 {
    box-sizing: border-box;
    padding: 5px;
}

.pad-2 {
    box-sizing: border-box;
    padding: 10px;
}

.pad-3 {
    box-sizing: border-box;
    padding: 15px;
}

.pad-4 {
    box-sizing: border-box;
    padding: 20px;
}

.pad-5 {
    box-sizing: border-box;
    padding: 25px;
}

.pad-6 {
    box-sizing: border-box;
    padding: 30px;
}

.pad-7 {
    box-sizing: border-box;
    padding: 35px;
}

.pad-8 {
    box-sizing: border-box;
    padding: 40px;
}

.pad-9 {
    box-sizing: border-box;
    padding: 45px;
}

.pad-10 {
    box-sizing: border-box;
    padding: 50px;
}

.pad-11 {
    box-sizing: border-box;
    padding: 55px;
}

.pad-12 {
    box-sizing: border-box;
    padding: 60px;
}

.pad-t-1 {
    box-sizing: border-box;
    padding-top: 5px;
}

.pad-t-2 {
    box-sizing: border-box;
    padding-top: 10px;
}

.pad-t-3 {
    box-sizing: border-box;
    padding-top: 15px;
}

.pad-t-4 {
    box-sizing: border-box;
    padding-top: 20px;
}

.pad-t-5 {
    box-sizing: border-box;
    padding-top: 25px;
}

.pad-t-6 {
    box-sizing: border-box;
    padding-top: 30px;
}

.pad-t-7 {
    box-sizing: border-box;
    padding-top: 35px;
}

.pad-t-8 {
    box-sizing: border-box;
    padding-top: 40px;
}

.pad-t-9 {
    box-sizing: border-box;
    padding-top: 45px;
}

.pad-t-10 {
    box-sizing: border-box;
    padding-top: 50px;
}

.pad-t-11 {
    box-sizing: border-box;
    padding-top: 55px;
}

.pad-t-12 {
    box-sizing: border-box;
    padding-top: 60px;
}

.pad-b-1 {
    box-sizing: border-box;
    padding-bottom: 5px;
}

.pad-b-2 {
    box-sizing: border-box;
    padding-bottom: 10px;
}

.pad-b-3 {
    box-sizing: border-box;
    padding-bottom: 15px;
}

.pad-b-4 {
    box-sizing: border-box;
    padding-bottom: 20px;
}

.pad-b-5 {
    box-sizing: border-box;
    padding-bottom: 25px;
}

.pad-b-6 {
    box-sizing: border-box;
    padding-bottom: 30px;
}

.pad-b-7 {
    box-sizing: border-box;
    padding-bottom: 35px;
}

.pad-b-8 {
    box-sizing: border-box;
    padding-bottom: 40px;
}

.pad-b-9 {
    box-sizing: border-box;
    padding-bottom: 45px;
}

.pad-b-10 {
    box-sizing: border-box;
    padding-bottom: 50px;
}

.pad-b-11 {
    box-sizing: border-box;
    padding-bottom: 55px;
}

.pad-b-12 {
    box-sizing: border-box;
    padding-bottom: 60px;
}

.pad-tb-1 {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-tb-2 {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-tb-3 {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-tb-4 {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-tb-5 {
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pad-tb-6 {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-tb-7 {
    box-sizing: border-box;
    padding-top: 35px;
    padding-bottom: 35px;
}

.pad-tb-8 {
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad-tb-9 {
    box-sizing: border-box;
    padding-top: 45px;
    padding-bottom: 45px;
}

.pad-tb-10 {
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-tb-11 {
    box-sizing: border-box;
    padding-top: 55px;
    padding-bottom: 55px;
}

.pad-tb-12 {
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-lr-1 {
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.pad-lr-2 {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.pad-lr-3 {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.pad-lr-4 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.pad-lr-5 {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

.pad-lr-6 {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

.pad-lr-7 {
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
}

.pad-lr-8 {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.pad-lr-9 {
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
}

.pad-lr-10 {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.pad-lr-11 {
    box-sizing: border-box;
    padding-left: 55px;
    padding-right: 55px;
}

.pad-lr-12 {
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
}

.font-size-1 {
    font-size: 1px;
}

.font-size-2 {
    font-size: 2px;
}

.font-size-3 {
    font-size: 3px;
}

.font-size-4 {
    font-size: 4px;
}

.font-size-5 {
    font-size: 5px;
}

.font-size-6 {
    font-size: 6px;
}

.font-size-7 {
    font-size: 7px;
}

.font-size-8 {
    font-size: 8px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-21 {
    font-size: 21px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-27 {
    font-size: 27px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-29 {
    font-size: 29px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-31 {
    font-size: 31px;
}

.font-size-32 {
    font-size: 32px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.flex-right {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

@media screen and (max-width: 992px) {
    .flex-right {
        flex-direction: row;
    }
}